<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" ng-controller="RegisterCtrl">
      <%= link_to "Logo", "/", id: "logo" %>
      <nav>
        <ul class="nav pull-right">

          <li><%= link_to "Cart", "/cart" %></li>
          <li ng-show="!globals.currentUser"><%= link_to "SignIn", "/login" %></li>
          <li ng-show="globals.currentUser"><a href="/" ng-click="logout()">Logout</a></li>

          <li ng-show="globals.currentUser"><%= link_to "Admin", "/admin" %></li>

          <li ng-show="!globals.currentUser"><%= link_to "Reg", "/register" %></li>

        </ul>
      </nav>
    </div>
  </div>
</header>